body {
  background-color: #1e1e1e;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 30%;
  max-width: 40rem;
  text-align: center;
  background-color: #252525;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background: linear-gradient(rgb(253, 164, 164), rgb(66, 32, 4));
}

input {
  width: 100%;
  margin: 15px 0;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

#task-input {
  margin: 20px 0;
}

.small-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 15px;
}

button {
  background: linear-gradient(45deg, #007bff, #00d4ff);
  color: #fff;
  font-weight: bold;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

button:hover {
  background: linear-gradient(45deg, #ff8c00, #ff3c00);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(255, 140, 0, 0.3);
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

li {
  background-color: #333;
  margin: 6px 0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  transition: 0.3s;
}

li:hover {
  background-color: #444;
}

ion-icon {
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

ion-icon:hover {
  color: #ff8c00;
}

.light-mode {
  background-color: #fff;
  color: #222;
}

.light-mode .container {
  background-color: #f8f8f8;
  color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: linear-gradient(rgb(244, 217, 217), rgb(204, 204, 224));
}
